<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.numad21su_mohammadsjaleel">

    <application
        android:name="com.example.numad21su_mohammadsjaleel.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mj"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mj_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD21SuMohammadSJaleel">
        <activity android:name=".LinkCollectorActivity"></activity>
        <activity android:name=".A3Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>